*{
    font-family: 'Roboto', sans-serif;
}


.recipe{
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(90, 27, 27);
    margin: 20px;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;
    min-width: 40%;
    text-align: center;
    margin-top: 30px;
}
.list{

    margin-left: 50px;
}